<p id="notice"><%= notice %></p>

<h1>Noticias</h1>
<% if user_signed_in? %>
<%= link_to 'Agregar nueva noticia', new_note_path %>
<% end %>

    <% @notes = @notes.reverse %>

    <% if not user_signed_in? %>
        <% if @notes.length > 10 %>
            <% @notes = @notes[0..9] %>
        <% end %>
    <% end %>

    <% @notes.each do |note| %>
      <h1> Título: <%= note.title %> </h1>
      <h3> Bajada: <%= note.subhead %></h3>
      <% if note.body.length > 500 %>
          <h2> Cuerpo: <%=truncate(note.body, length:500) %></h2>
      <% end %>
      <% if note.body.length <= 500 %>
          <h2> Cuerpo: <%= note.body %></h2>
      <% end %>
      <h2> Fecha de creación: <%= note.created_at %></h2>
      <h2> Cantidad de comentarios: <%= note.talks.length %></h2>
      <%= link_to 'Mostrar noticia', note %>
      <% if user_signed_in? %>
      <%= link_to 'Editar noticia', edit_note_path(note) %>
      <%= link_to 'Destruir noticia', note, method: :delete, data: { confirm: 'Are you sure?' } %>
      <% end %>
      <h2>-----------------------------------------------------------------------------------------------</h2>
    <% end %>
<br>
<br>
<br>
<br>
