<%= form_for [@note, @note.talks.build] do |form| %>
<div class="field">
  <%= form.label :Nombre %>
  <%= form.text_field :author %>
</div>

<div class="field">
  <%= form.label :Contenido %>
  <%= form.text_field :comment %>
</div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
